@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  box-sizing: border-box; }

.logo {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

/*custom font*/
/*basic reset*/
* {
  margin: 0;
  padding: 0; }

html {
  background: linear-gradient(rgba(225, 225, 225, 0.9), rgba(238, 37, 98, 0.9)); }

body {
  font-family: montserrat, arial, verdana; }

p, label {
  font-size: 0.8em;
  text-align: left;
  padding: 5px 0;
  margin-top: 8px; }

label {
  color: gray; }

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white; }

input[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #ee2562;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white; }

select {
  width: 100%;
  margin: 5px 0;
  height: 30px;
  color: #fff;
  font-size: 13px;
  background-color: #ee2562;
  border: #FEFEFE 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

#msform {
  width: 400px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  padding-bottom: 90px; }

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: auto;
  margin: 20px auto;
  padding: 30px 20px;
  /*stacking fieldsets above each other*/
  position: relative;
  overflow: hidden;
  display: none; }
  #msform fieldset.active {
    display: block; }

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #ee2562;
  font-size: 13px; }

#msform input[type="checkbox"] {
  width: auto; }

/* previous, next, submit buttons*/
#msform .action-button {
  width: 100px;
  background: #ee2562;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  letter-spacing: 0.07em; }

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #fff; }

/*field heading*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 10px; }

/*second field heading*/
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: #ee2562;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #fff;
  border-radius: 3px;
  margin: 0 auto 5px auto; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ee2562;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #ee2562;
  color: #fff; }

#name {
  height: 33px; }

.gender-switch, .tat-switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  height: 35px;
  padding: 3px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: content-box; }

.gender-switch-input, .tat-switch-input {
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 1;
  box-sizing: content-box; }

.gender-switch-label, .tat-switch-label {
  cursor: pointer;
  position: relative;
  display: block;
  height: inherit;
  font-size: 1em;
  background: #ecefff;
  border-radius: inherit;
  box-shadow: inset 1px 0 1px 3px rgba(0, 0, 0, 0.07), inset 1px 1px 2px rgba(0, 0, 0, 0.07);
  box-sizing: content-box;
  width: 100%; }

.gender-switch-label:before, .gender-switch-label:after,
.tat-switch-label:before, .tat-switch-label:after {
  position: absolute;
  top: 52%;
  margin-top: -.5em;
  line-height: 1; }

.gender-switch-label:before, .tat-switch-label:before {
  right: 11px;
  color: gray;
  letter-spacing: 0.05em; }

.gender-switch-label:after, .tat-switch-label:after {
  left: 11px;
  color: gray;
  letter-spacing: 0.05em;
  opacity: 0; }

.gender-switch-input:checked ~ .gender-switch-label:before,
.tat-switch-input:checked ~ .tat-switch-label:before {
  opacity: 0; }

.tat-switch-input:checked ~ .tat-switch-label:after {
  opacity: 1;
  content: "yes";
  float: right; }

.gender-switch-input:checked ~ .gender-switch-label:after {
  opacity: 1;
  content: "female";
  float: right; }

.tat-switch-input ~ .tat-switch-label:before {
  content: "no"; }

.gender-switch-input ~ .gender-switch-label:before {
  content: "male"; }

.gender-switch-handle, .tat-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50%;
  height: 35px;
  background: #ee2562;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2); }

.gender-switch-input:checked ~ .gender-switch-handle,
.tat-switch-input:checked ~ .tat-switch-handle {
  left: 49%; }

.gender-switch-label, .gender-switch-handle,
.tat-switch-label, .tat-switch-handle {
  transition: All 0.3s ease; }

#rangevalue {
  color: #ee2562;
  font-size: 13px; }

.age {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #fff;
  outline: none; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 30px;
  background: #ee2562;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 27px;
  height: 30px;
  background: #ee2562;
  cursor: pointer; }

.hair-container .hair label {
  display: block;
  width: 25%;
  float: left;
  margin-left: 30px; }

.heightp, .match-heightp {
  margin-top: 20px; }

.clearfix {
  clear: both; }

.height, .matchs-height {
  display: flex; }

.height input, .matchs-height input {
  opacity: 0;
  margin-right: -90px;
  margin-left: -220px; }

.short {
  background-image: url(../img/short.png); }

.tall {
  background-image: url(../img/tall.png); }

.giant {
  background-image: url(../img/giant.png); }

.shortm {
  background-image: url(../img/short.png); }

.tallm {
  background-image: url(../img/tall.png); }

.giantm {
  background-image: url(../img/giant.png); }

.height input:checked + label,
.matchs-height input:checked + label {
  border: 2px solid pink;
  height: 107px; }

.short, .tall, .giant,
.shortm, .tallm, .giantm {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 120px; }
  .short:hover, .tall:hover, .giant:hover,
  .shortm:hover, .tallm:hover, .giantm:hover {
    filter: brightness(1.2) opacity(0.6); }

.lookingfor-container .looking {
  margin-left: 45px; }
  .lookingfor-container .looking input, .lookingfor-container .looking label {
    display: block;
    float: left;
    width: 50%; }
    .lookingfor-container .looking input :first-child, .lookingfor-container .looking label :first-child {
      margin: auto 33px; }

.hair-container {
  margin-left: -25px; }
  .hair-container .hair input {
    display: block;
    width: 33.33%;
    float: left;
    margin-left: 35px; }
  .hair-container .hair label {
    text-align: center; }

.type-person {
  padding-bottom: 5px; }

.type-container {
  margin-left: 28px; }
  .type-container .type label {
    display: block;
    width: 33.33%;
    float: left; }

.matchage-p {
  margin-top: 20px; }

.age2 {
  width: 100%;
  flex-order: 1;
  display: flex;
  padding-bottom: 30px; }
  .age2 div {
    padding: 10px; }

.age-row {
  width: 33.33%; }
  .age-row input {
    opacity: 0; }
  .age-row label {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin: 10px; }
    .age-row label:hover {
      color: #ee2562;
      transition: 1s;
      border: 2px solid #ee2562;
      padding: 9px 14px; }

.age2 input:checked + label {
  border: 2px solid #ee2562;
  color: #ee2562; }

.datep {
  margin-top: 18px; }

/*# sourceMappingURL=main.css.map */
